---
# default topic name is this machine's hostname
# this is to ensure that every RC has its own topic and AMQP account
#environment: development

communication:
  url: amqp://testbed:lab251@192.168.1.9

resources:
- type: switch
  uid: switch-ovs
  stype: "ovs"
  ip_address: "127.0.0.1"
  user: root
  port: 22
  key_file: "/root/.ssh/id_rsa"
  ovs_bin_dir: "/usr/bin/"
  bridge: br0

